/*! color palette https://www.color-hex.com/color/adcce9#color-schemes */

html, body {
  height: 100%;
  margin: 0;
}
.mainBg{
  min-height: 100%;
}

main{
    background-color:#478ac9;
}
.shadowed-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #478ac9;
}

.content-container {
  flex: 1;
}


.u-header {
  background-color: #478ac9;
  padding: 10px 0;
}

.u-logo-image {
  max-height: 50px;
}

.u-menu {
  display: flex;
  align-items: center;
}

.u-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.u-nav-item {
  margin-right: 5px;
}

.u-nav-link {
  color: white;
  text-decoration: none;
}

.u-nav-link:hover {
  color: #333;
}


@media (max-width: 767px) {
  .u-menu {
    display: none;
    margin-left:auto;
    font-family: "cairo";
  }
  .u-custom-menu.u-nav-container-collapse {
    display: block;
  }
}

@media (min-width: 768px) {
  .u-menu {
    display: flex;
  }
  .u-custom-menu.u-nav-container-collapse {
    display: none;
    margin-left:auto;
  }
}




.resizeButton {
    position: relative;
    margin: 0;
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  .resizeButton span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .resizeButton:hover {
    animation: rotate624 0.7s ease-in-out both;
  }
  
  .resizeButton:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes storm1261 {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
  
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
  
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
  
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  
  .btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  
  .btn-shine span {
    z-index: 20;
  }
  
  .btn-shine:after {
    background: #e9adcc;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  
  .btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

input[type="file"] {
  display: none;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; 
  margin-top:30px;
}
.rImg {
  display:flex;
  height: auto;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}
.logo{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/resize.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.rImg:hover {
  transform: scale(1.4);
}
.colorPalette{
  color: #ffffff;
  background-color: #478ac9;
  font-family:"cairo";
}
.colorPaletteLink{
  color:#e9adcc;
}
.colorPaletteLink:hover {
  color:#e0e0e0;
  
}
.colorPaletteLink:active{
  color:#ff00c8;
}
.colorPaletteLink:visited{
  color:antiquewhite;
}
#menu {
	background: #adcce9;
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #ADCCE9;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
.imageGrid{
  display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            margin-top:-20px;
        }
        .image-grid-item{
          background-color: #ccc;
          padding: 20px;
          font-size: 14px;
          justify-content:center;
          border: 1px solid #ccc;
          color:#111;
          width: 200px; /* Set your desired width */
          height: 200px; /* Set your desired height */
          box-sizing: border-box; /* Include padding and border in the width and height calculation */
          display: flex;
          flex-direction: column;
          align-items:center;
          border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
        }
        .instruction-grid-item {
          color:#111;
          grid-column: 1 / span 3;
          background-color: #ccc;
          padding: 20px;
          text-align: center;
          border-top-right-radius: 40px;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 40px;
          border-top-left-radius: 40px;
          justify-content: center;
        }
        @media (max-width: 767px) {
          .imageGrid {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 0;
          }
        
          .image-grid-item {
            width: 100px;
            height: 100px;
          }
        }
        
        .content {
          align-self: flex-end;
          margin: auto 0 0 0;
        }
        .logo-art-container {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          height: 100%;
        }
        
        .logoArt {
          max-width: 30%; /* Adjust this value based on your preference */
          height: auto;
          transition: 0.4s;
        }
        .logoArt:hover{
          transform:scale(1.2);
        }
        .head-text{
          text-align: center;
          transition: 0.4s;
          font-family:"cairo";
          color:#e9f2f9;
          max-width: 600px;
          margin-left: 650px;
          font-size:18px;
          text-shadow: 2px 2px 2px #000000;
        }
        .head-text:hover{
          transform:scale(1.4);
        }
        footer{
          font-family: "cairo";
          color:#e9f2f9;
          background-color: #478ac9;
          flex-shrink: 0;
        }
        .social-icons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 20px;
          padding-left: 0;
        }
        
        .social-icons li {
          list-style: none;
          margin: 0 10px;
        }
        
        .social-icons li a {
          color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
        }
        
        .social-icons li a i {
          font-size: 40px;
          margin-bottom: 10px;
        }
        
        .social-icons li a:hover i {
          color: #1DA1F2;
        }
        
        .head-text {
          margin-top: 50px;
          text-align: center;
        }
        .contact-1{
          transform:scale(1.1);
          transition:0.4s;
        }
        .contact-1:hover{
          transform:scale(1.4);
        }
        .contact-2{
          transition:0.4s;
        }
        .contact-2:hover{
          transform:scale(1.4);
        }
        .contact-3{
          transition:0.4s;
        }
        .contact-3:hover{
          transform:scale(1.4);
        }
        .grid-container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          grid-gap: 20px;
        }
        .grid-item{
          padding: 10px;
          text-align: center;
        }
        .u-text-1 {
          max-width: 800px;
          margin: 0 auto;
        }
        /* Mobile view */
@media (max-width: 767px) {
  /* Add your mobile-specific styles here */
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Add your tablet-specific styles here */
}
footer {
  height: 50px; /* Set to the height of your footer */
  flex-shrink: 0;
}
.logoHead {
  padding-left: 10px;
}